@tailwind base;
@tailwind components;
@tailwind utilities;



/* Carousel styles */
.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 10px;
}

/* No-scrollbar styles */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }

  .no-scrollbar {
      -ms-overflow-style: none;  
      scrollbar-width: none;  
}
}

/* Blog content styles */
.blog-content{
  padding: 36px 0;
}

.blog-content b{
  margin-bottom: 10px;
  font-weight: 500;
}

.blog-content p{
  margin-bottom: 10px;
}

.blog-content h1{
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 26px;
}

.blog-content h2{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}

.blog-content h3{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
}


.wrap{
  display: grid;
  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}